<div class="app">
    <h1 class="chatTitle">Bienvenue sur chat</h1>


    <div class="container">
        <div *ngIf="companies" id="companiesList">
            <h1>Entreprises</h1>
            <ul>
                <li *ngFor="let company of companies" class="elementList">{{ company.company_name }}</li>
            </ul>
        </div>
        <div *ngIf="students" id="studentsList">
          <h1>Étudiants</h1>
          <ul>
              <li *ngFor="let student of students" class="elementList">{{ student.firstName }} {{ student.lastName }}</li>
          </ul>
      </div>

        <div class="msgContainer" id="msgContainer"></div>
    </div>

    <div id="isWritting"></div>
    <form action="/chat" method="POST" id="chatForm">
        <input type="text" id="msgInput" autofocus>
        <input type="submit" id="btnSend" value="Envoyer">
    </form>

</div>
