/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css?family=Poppins");

/* BASIC */

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html,
body {
    height: 100%;
    background: url("./assets/images/wave_top.svg") no-repeat top center, url("./assets/images/wave_bottom.svg") no-repeat bottom center, #a771c0;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /* background: rgba(255, 255, 255, 0.452); */
}

a {
    color: #92badd;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}


/* STRUCTURE */

#formFooter {
    border-top: 1px solid #dce8f1;
    padding: 25px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}


/* TABS */

h2.inactive {
    color: #cccccc;
}

h2.active {
    color: #0d0d0d;
    border-bottom: 2px solid #33317c;
}


/* FORM TYPOGRAPHY*/

input[type="button"],
input[type="submit"],
input[type="reset"] {
    cursor: pointer;
    background-color: #33317c;
    border: none;
    color: white;
    padding: 20px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    -webkit-box-shadow: 0 10px 30px 0 rgba(95, 186, 233, 0.4);
    box-shadow: 0 10px 30px 0 rgba(229, 228, 228, 0.2);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 20px;
    margin: 5px 20px 40px 20px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #e5e4e4;
    color: #33317c;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

input[type="submit"]:disabled {
    background-color: grey;
    color: white;
}

input[type="text"],
input[type="password"] {
    background-color: #f6f6f6;
    border: none;
    color: #0d0d0d;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    width: 85%;
    border: 2px solid #f6f6f6;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #fff;
    border-bottom: 2px solid #33317c;
}

input[type="text"]:placeholder {
    color: #cccccc;
}

input[type="text"].invalid-textbox,
input[type="password"].invalid-textbox {
    border-bottom: 2px solid #ed5558;
}

label.validation-message {
    color: #ed5558;
}


/* ANIMATIONS */


/* Simple CSS3 Fade-in Animation */

.underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #33317c;
    content: "";
    transition: width 0.2s;
}

.underlineHover:hover {
    color: #0d0d0d;
}

.underlineHover:hover:after {
    width: 100%;
}

.underlineHover {
    cursor: pointer;
}


/* OTHERS */

.alert {
    padding: 20px;
    background-color: #f44336;
    /* Red */
    color: white;
    margin-bottom: 15px;
}

.success {
    padding: 20px;
    background-color: #249424;
    /* Green */
    color: white;
    margin-bottom: 15px;
}

input.button-submitCV {
    margin-top: 40px;
}

.formfield-select {
    position: relative;
    display: flex;
    justify-content: center;
}

.formfield-select--container {
    position: relative;
    border: #33317c 1px solid;
    border-radius: 5px;
    margin: 0 0 1.5em 10px;
    overflow: hidden;
}

.formfield-select label {
    margin-top: 5px;
}

.formfield-select--container select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 110%;
    height: auto;
    border: #33317c;
    margin: 0;
    padding: 10px 15px;
    overflow: hidden;
}

.formfield-select--container::after {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 0.75em;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-top-color: #444;
    border-width: 6px;
    border-style: solid;
    pointer-events: none;
}

input.back {
    margin-top: 50px;
    padding: 15px 20px;
}

.wrapper-block h1 {
    font-size: 20px;
}


/* CHAT.CSS */

.msgItemContainer {
    margin-top: 25px;
    margin-left: 15px;
}

.msgItemContainer span {
    color: #5f4ab3;
}

.message {
    border-radius: 10px;
    font-size: 20px;
    padding: 10px;
    max-width: 45%;
}

.newMessageAll,
.oldMessages {
    border: 2px #5f4ab3 solid;
    background-color: #fff;
    color: #5f4ab3;
}

.newMessageMe,
.oldMessagesMe {
    border: none;
    background-color: #5f4ab3;
    color: #fff;
    margin-top: 25px;
    margin-left: 50%;
}
