.navbar{
  background-color: rgb(95, 74, 179);
  border: 0;
  box-shadow: 0;

  position: sticky;
  top: 0;

  box-shadow: 1px 6px 18px -6px rgba(0,0,0,0.75);

  z-index: 2;
}

.btn-link{
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 7px 6px 10px -5px rgba(0,0,0,0.6);
  background-color: rgb(95, 74, 179);

  color: white;
  fill: #FFFFFF;

  width: 50px;
  height: 50px;

  transition: 0.50s;

  margin: 0 15px;
}

.btn-link:hover{

  background-color: white;
  border: 2px solid rgb(95, 74, 179);
  color: rgb(95, 74, 179);

  transition: 0.50s;

  fill: rgb(95, 74, 179);
}

.btn-link:focus{
  outline: none;
}
