



<nav class="navbar navbar-expand-lg">
  <a routerLink="/login" class="navbar-brand"><img src="assets/images/IconeRezume.png" alt="icone Rezume" width="35px"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#burgerNavbar" aria-controls="burgerNavbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="burgerNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <button class="btn-link"><img src="assets/icons/edit.svg" alt="edit" width="28px" height="28px"></button>
      </li>
      <li class="nav-item">
        <button class="btn-link"><img src="assets/icons/edit.svg" alt="edit" width="28px" height="28px"></button>
      </li>
      <li class="nav-item">
        <button class="btn-link"><img src="assets/icons/edit.svg" alt="edit" width="28px" height="28px"></button>
      </li>
    </ul>
  </div>
</nav>
