<div class="wrapper-bc">    

    <thead>
        <img src="/assets/images/IconeRezume.svg" alt="icon" id="icon-profile">
        <p class="title-cv">Création d'une offre de stage</p>
    </thead>

    <div class="wrapper">

        <div class="formContent">
            <h2 class="underlineHover">Quelques infos pour votre offre de stage</h2>
            <form [formGroup]="jobForm" (ngSubmit)="onSubmit(jobForm)">
                <div class="form-group">
                    <input type="text" formControlName="sector" class="form-control" placeholder="Le secteur d'activité du stage">
                    <div *ngIf="age.touched && age.invalid">
                        <label class="validation-message">Veuillez entrer un secteur d'activité</label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="description" class="form-control" placeholder="Une courte description du stage et de ses attentes">
                    <div *ngIf="research.touched && research.invalid">
                        <label class="validation-message">Veuillez entrer une description</label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="number" fromControlName="experience" class="form-control" placeholder="Années d'exprience minimal">
                    <div *ngIf="experience.touched && experience.invalid">
                        <label class="validation-message">Veuillez entrer l'expérience requise</label>
                    </div>
                </div>
                <fieldset formGroupName="degrees">
                    <legend>Les diplômes attendus | <span style="font-weight: bold; cursor: pointer" (click)="addDegree()">+</span></legend>
                    <div class="input-group" *ngFor="let degreeControl of jobForm.get('degrees').controls; let i = index">
                        <input type="text" class="form-control" [formControlName]="i">
                        <span class="input-group-addon" id="basic-addon2" (click)="deleteDegree(i)" style="cursor: pointer">❌</span>
                    </div>
                </fieldset>
                <div class="form-group">
                    <input id="file" type="file" class="input-file" formControlName="image" (change)="onFileChange($event)" #fileInput>
                    <label for="file" class="label-file">Choisir un fichier</label>
                </div>
                <input type="submit" value="Créer ton CV">
            </form>
        </div>

    </div>


<!-- Success message -->
<div class="success" *ngIf="showSuccessMessage">
    Votre offre de stage est créée
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
</div>

</div>
