<div class="wrapper-bc" *ngIf="valid">

  <thead>
  <img src="/assets/images/IconeRezume.svg" alt="icon" id="icon-profile">
  <p class="title-cv">Création d'une offre de stage</p>
  </thead>

  <div class="wrapper">

    <div class="formContent">
      <h2 class="underlineHover">Quelques infos pour votre offre de stage</h2>
      <form [formGroup]="jobForm" (ngSubmit)="onSubmit(jobForm)">
        <div class="form-group space">
          <input type="text" formControlName="sector" class="form-control" placeholder="Le secteur d'activité du stage">
          <div *ngIf="sector.touched && sector.invalid">
            <label class="validation-message">Veuillez entrer un secteur d'activité</label>
          </div>
        </div>
        <hr class="separator-line">
        <div class="form-group space">
          <input type="text" formControlName="description" class="form-control"
                 placeholder="Une courte description du stage et de ses attentes">
          <div *ngIf="description.touched && description.invalid">
            <label class="validation-message">Veuillez entrer une description</label>
          </div>
        </div>
        <hr class="separator-line">
        <div class="form-group space">
          <input type="number" formControlName="experience" class="form-control xpRequise"
                 placeholder="Années d'exprience minimal">
          <div *ngIf="experience.touched && experience.invalid">
            <label class="validation-message">Veuillez entrer l'expérience requise</label>
          </div>
        </div>
        <hr class="separator-line">
        <div formGroupName="degrees">
          <div class="category">
            <legend>Les diplômes attendus
              <span style="font-weight: bold; cursor: pointer" (click)="addDegree()">
              <img src="/assets/images/plus.svg" alt="icon" class="icon-plus">
            </span>
            </legend>
          </div>
          <div class="input-group" *ngFor="let degreeControl of jobForm.get('degrees').controls; let i = index">
            <input type="text" class="form-control" [formControlName]="i">
            <span class="input-group-addon" id="basic-addon2" (click)="deleteDegree(i)" style="cursor: pointer">
              <img src="/assets/images/delete.svg" alt="icon" class="icon-delete">
            </span>
          </div>
          
        </div>
        <hr class="separator-line">
        <div class="form-group space">
          <input id="file" type="file" class="input-file" formControlName="image" (change)="onFileChange($event)"
                 #fileInput>
          <label for="file" class="label-file">Choisir un fichier</label>
        </div>
        <input type="submit" value="Créer une offre de stage">
      </form>


      <!-- Success message -->
      <div class="success" *ngIf="showSuccessMessage">
        Votre offre de stage est créée
      </div>

      <!-- Error message -->
      <div class="alert" *ngIf="serverErrorMessages">
        {{serverErrorMessages}}
      </div>

    </div>
  </div>

</div>
