
<div class="postSide" *ngIf="student && posts">

    <p class="titlePost mt-3">
      Les derniers posts:
    </p>
    <div class="postSection" *ngIf="posts.length > 0">


      <div class="post" *ngFor="let post of posts; index as i">
        <div class="postHead">
          <p class="postTitle">
            {{ post.title }}
          </p>
          <hr>
        </div>

        <div class="postImage" >
          <img src="http://localhost:3000/post/{{post.img_path}}" alt="PP" class="pictureProfile img-thumbnail" width="50%">
        </div>

        <div class="postContent">
          <p class="postText">
            {{post.content}}
          </p>
          <p>
            {{post.companyDetails[0].company_name}}
          </p>
          <p class="text-muted datePost">
            {{post.createdAt}}
          </p>
        </div>
      </div>

    </div>

    <div class="postSectionEmpty" *ngIf="posts.length === 0">
      Aucun post à afficher.
    </div>

  </div>


