<div class="wrapper-bc">

  <thead>
  <img src="/assets/images/IconeRezume.svg" alt="icon" id="icon-profile">
  <th colspan="2" class="text-center">Les CVs</th>
  </thead>
  <input class="back " type="button" routerLink="/companyprofile" value="Retourner au profil">
  <div class="wrapper-flex">
    <div class="wrapper-block">
      <div *ngFor="let cv of allCv; index as i">
        <h1>Recherche: {{cv.research}} </h1>
        <p>Posté le : {{cv.updatedAt}} </p>
        <input type="button" routerLink="/cvview/{{cv._id}}" value="Consulter ce CV">
      </div>
    </div>
  </div>
<input type="button" routerLink="/companyprofile" value="Retourner à votre profil">
<div *ngFor="let cv of allCv; index as i">
    <h1>Recherche: {{cv.research}} </h1>
    <h1>Posté par: {{studentListDetails[i].firstName}} {{studentListDetails[i].lastName}}  </h1>
    <p>Posté le : {{cv.updatedAt}} </p>
    <input type="button" routerLink="/cvview/{{cv._id}}" value="Consulter ce CV">
</div>

<div *ngIf="showMessageError">
  Une erreur est apparu lors de la récupération de tous les cv
</div>

</div>

</div>