<div class="wrapper-bc">

  <thead>
  <tr>
    <th colspan="2" class="text-center">Votre CV :</th>
  </tr>
  </thead>

  <div class="separator">
    <p>Le CV séléctioné :</p>
  </div>

  <div class="category">
    <table class="table-fill" *ngIf="cvDetails">

      <tbody>
      <tr>
        <td>Votre age:</td>
        <td>{{cvDetails.age}}</td>
      </tr>
      <tr>
        <td>Recherche:</td>
        <td>{{cvDetails.research}}</td>
      </tr>
      <tr *ngFor="let experience of cvDetails.experiences">
        <td>Vos expériences:</td>
        <td> {{experience}} </td>
      </tr>
      <tr *ngFor="let degree of cvDetails.degrees">
        <td>Vos Diplômes:</td>
        <td> {{degree}} </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="button-cv" *ngIf="cvDetails">
    <input type="button" value="Ajouter aux favoris" (click)="addFavorite()" *ngIf="buttonAdd">
    <input type="button" value="Retirer des favoris" (click)="removeFavorite()" *ngIf="!buttonAdd">

    <input type="button" value="Revenir à la liste des CV" routerLink="/cv">

  </div>

  <p *ngIf="!cvDetails">
    Aucun CV ne correspond
  </p>
</div>
