<div class="wrapper-bc">

    <thead>
    <img src="/assets/images/IconeRezume.svg" alt="icon" id="icon-profile">
    <th colspan="2" class="text-center" *ngIf="studentDetails.status === 'student'">Vous êtes connecté en tant
      qu'étudiant
    </th>
    <th colspan="2" class="text-center" *ngIf="studentDetails.status === 'company'">Vous êtes connecté en tant
      qu'entreprise
    </th>
    <th colspan="2" class="text-center" *ngIf="studentDetails.status === 'admin'">Vous êtes connecté en tant
      qu'administrateur
    </th>
    </thead>
  
    <div class="separator">
      <p>Mes informations :</p>
    </div>
    <table *ngIf="studentDetails" class="table-fill">
      <tbody>
      <tr>
        <td>First Name</td>
        <td>{{studentDetails.fullName.split(' ')[0]}}</td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>{{studentDetails.fullName.split(' ')[1]}}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{studentDetails.email}}</td>
      </tr>
      <tr>
        <td>Statut</td>
        <td>{{studentDetails.status}}</td>
      </tr>
      </tbody>
    </table>
    <div class="button-cv">
        <input type="button" routerLink="/cvview" value="Consultez votre CV" *ngIf="cvDetails">
        <input type="button" routerLink="/cvupdate" value="Modifiez votre CV" *ngIf="cvDetails">
        <input type="button" routerLink="/cvcreation" value="Créez votre CV" *ngIf="!cvDetails">
        <input type="button" (click)="onLogout()" value="Se déconnecter">
    </div>
  </div>

