

<div class="container-fluid" [class.blurEffect]="editSelected === true">
  <div class="row">

    <div class="col-xl-3 favSide" *ngIf="companyDetails">
      <p class="titleFav">
        Etudiants Favoris
      </p>

      <div class="selectStudent" *ngFor="let student of companyDetails[0].favorites; index as i">
        <p class="studentName">
          {{student}}
        </p>
        <img src="assets/images/star.svg" alt="star" width="25px" style="padding-left: 5px" class="imgFav">
        <a href="#" class="studentCV">
          CV
        </a>
      </div>
    </div>

    <div class="col-xl-9 infoSide" *ngIf="companyDetails">

      <p class="titleInfo">Mes informations</p>

      <div class="infoMain">

        <button class="edit" (click)="goToEdit(editSelected)" [disabled]="editSelected"><img src="assets/icons/edit.svg" alt="edit" width="28px" height="28px"></button>

        <div class="topInfo">
          <div class="imgTop">
            <img src="assets/images/maxresdefault.jpg" alt="dsqd">
          </div>
          <div class="infos">

            <div class="nameInfo">
              {{companyDetails[0].company_name}}
            </div>

            <div class="numberInfo">
              06513264
            </div>

            <div class="adressInfo">
              2 allée des chevaliers
            </div>
          </div>
        </div>

        <div class="middleInfo">
          <div class="emailInfo">
            {{companyDetails[0].email}}
          </div>

          <div class="passwordInfo">
            Password
          </div>
        </div>

        <div class="bottomInfo">
          {{companyDetails[0].description}}
        </div>
      </div>

    </div>
  </div>
  <!-- <ng-lottie [options]="options" (animationCreated)="animationCreated($event)" class="svg"></ng-lottie> -->
</div>


<div class="container editSide" [ngClass]="{'editProfil': editSelected === true}" *ngIf="editSelected === true">
  <button (click)="goToEdit(editSelected)"><img src="assets/icons/close.svg" alt="edit" width="28px" height="28px"></button>
  <div class="row">
    <div class="mainEdit">
      <p class="editFormTitle">Modifier mes informations</p>

      <div class="editForm">
        <form [formGroup]="companyUpdateForm" (ngSubmit)="onSubmit(companyUpdateForm)" *ngIf="companyDetails">
          <fieldset>
            <div class="form-group">
              <label for="company_name">Nom de l'entreprise</label><br>
              <input type="text" class="form-control" id="company_name" formControlName="company_name">
            </div>

            <div class="form-group">
              <label for="email">Adresse mail</label><br>
              <input type="text" class="form-control" id="email" formControlName="email">
            </div>

            <div class="form-group">
              <label for="password">Mot de passe</label><br>
              <input type="password" class="form-control" id="password" formControlName="password">
            </div>

            <div class="form-group">
              <label for="description">Description de l'entreprise</label><br>
              <textarea name="description" id="description" cols="30" rows="2" formControlName="description"></textarea>
            </div>
          </fieldset>

          <input type="submit" value="Modifier">
        </form>
      </div>
    </div>
  </div>
</div>
