<div class="wrapper-bc">

    <thead>
        <img src="/assets/images/IconeRezume.svg" alt="icon" id="icon-profile">
        <p class="title-cv">Création de ton CV</p>
    </thead>

    <div class="wrapper">

        <div class="formContent">
            <h2 class="underlineHover">Quelques infos pour ton CV</h2>
            <form [formGroup]="cvForm" (ngSubmit)="onSubmit(cvForm)">
                <div class="form-group">
                    <input type="number" formControlName="age" class="form-control" placeholder="Ton âge">
                    <div *ngIf="age.touched && age.invalid">
                        <label class="validation-message">Veuillez entrer votre âge</label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" formControlName="research" class="form-control" placeholder="Ton domaine de recherche">
                    <div *ngIf="research.touched && research.invalid">
                        <label class="validation-message">Veuillez entrer votre secteur de recherche</label>
                    </div>
                </div>
                <div formGroupName="experiences">
                    <legend>Tes expériences | <span style="font-weight: bold; cursor: pointer" (click)="addExperience()">+</span></legend>
                    <div class="input-group" *ngFor="let experienceControl of cvForm.get('experiences').controls; let i = index">
                        <input type="text" class="form-control" [formControlName]="i">
                        <span class="input-group-addon" id="basic-addon2" (click)="deleteExperience(i)" style="cursor: pointer">❌</span>
                    </div>
                </div>
                <div formGroupName="degrees">
                    <legend>Tes diplômes | <span style="font-weight: bold; cursor: pointer" (click)="addDegree()">+</span></legend>
                    <div class="input-group" *ngFor="let degreeControl of cvForm.get('degrees').controls; let i = index">
                        <input type="text" class="form-control" [formControlName]="i">
                        <span class="input-group-addon" id="basic-addon2" (click)="deleteDegree(i)" style="cursor: pointer">❌</span>
                    </div>
                </div>
                <div class="form-group">
                    <input id="file" type="file" class="input-file" formControlName="image" (change)="onFileChange($event)" #fileInput>
                    <label for="file" class="label-file">Choisir un fichier</label>
                </div>
                <input type="submit" value="Créer ton CV">
            </form>
        </div>

    </div>


<!-- Success message -->
<div class="success" *ngIf="showSuccessMessage">
    Votre CV est créé!
</div>

<!-- Error message -->
<div class="alert" *ngIf="serverErrorMessages">
    {{serverErrorMessages}}
</div>

</div>
