<div class="wrapper-bc">

  <thead>
  <img src="/assets/images/IconeRezume.svg" alt="icon" id="icon-profile">
  <p class="title-cv">Création de ton CV</p>
  </thead>

  <div class="wrapper">

    <div class="formContent">
      <h2 class="underlineHover">Quelques infos pour ton CV</h2>
      <form #cvCreationForm="ngForm" (ngSubmit)="cvCreationForm.valid && onSubmit(cvCreationForm)">
        <input class="age" type="number" min="0" max="100" #age="ngModel" [(ngModel)]="cvService.selectedCV.age"
               name="age" placeholder="Ton âge" required
               [ngClass]="{'invalid-textbox' :cvCreationForm.submitted && !age.valid }">
        <div *ngIf="cvCreationForm.submitted && !age.valid">
          <label class="validation-message">Veuillez entrer votre age</label>
        </div>
        <input type="text" #research="ngModel" [(ngModel)]="cvService.selectedCV.research" name="research"
               placeholder="Ton domaine de recherche" required
               [ngClass]="{'invalid-textbox' :cvCreationForm.submitted && !research.valid }">
        <div *ngIf="cvCreationForm.submitted && !research.valid">
          <label class="validation-message">Veuillez entrer un secteur de recherche</label>
        </div>
        <input type="text" #experience="ngModel" [(ngModel)]="cvService.selectedCV.experience" name="experience"
               placeholder="Tes expériences (stage ou professionnelles)"
               [ngClass]="{'invalid-textbox' :cvCreationForm.submitted && !experience.valid }">
        <input type="text" #degree="ngModel" [(ngModel)]="cvService.selectedCV.degree" name="degree"
               placeholder="Tes diplômes" [ngClass]="{'invalid-textbox' :cvCreationForm.submitted && !degree.valid }">
        <input type="file" name="image" (change)="selectImage($event)">
        <br><br>
        <input type="submit" value="Créé ton CV">
      </form>
    </div>


    <!-- Success message -->
    <div class="success" *ngIf="showSuccessMessage">
      Votre CV est créé!
    </div>

    <!-- Error message -->
    <div class="alert" *ngIf="serverErrorMessages">
      {{serverErrorMessages}}
    </div>

  </div>
</div>
