.title-cv{
    text-align: center;
    margin-top: 50px;
    font-size: 2em;
}

.wrapper{
    width: 25%;
    margin: auto;
}

.plusContainer{
    display: inline-block;
    width: 50px;
    height: 25px;
}

.plusContainer img{
    max-height: 100%;
}

