<div class="wrapper-bc">
  <table *ngIf="userDetails" class="table-fill">
    <thead>
    <img src="/assets/images/user.svg" alt="icon" id="icon">
    <tr>
      <th colspan="2" class="text-center" *ngIf="userDetails.status === 'student'">Vous êtes connecté en tant
        qu'étudiant
      </th>
      <th colspan="2" class="text-center" *ngIf="userDetails.status === 'company'">Vous êtes connecté en tant
        qu'entreprise
      </th>
      <th colspan="2" class="text-center" *ngIf="userDetails.status === 'admin'">Vous êtes connecté en tant
        qu'administrateur
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>First Name</td>
      <td>{{userDetails.fullName.split(' ')[0]}}</td>
    </tr>
    <tr>
      <td>Last Name</td>
      <td>{{userDetails.fullName.split(' ')[1]}}</td>
    </tr>
    <tr>
      <td>Email</td>
      <td>{{userDetails.email}}</td>
    </tr>
    <tr>
      <td>Statut</td>
      <td>{{userDetails.status}}</td>
    </tr>
    </tbody>
  </table>
  <div class="button-cv">
    <input type="button" (click)="gotoCvCreation()" value="Créez votre CV">
    <input type="button" (click)="onLogout()" value="Se déconnecter">
  </div>
</div>
