

<div class="container">
  <div class="row">

      <mat-card class="cv-details">
        <div class="card-head">
          <mat-card-subtitle>
            <a routerLink="/search" class="mx-5">Revenir à la recherche</a>
          </mat-card-subtitle>
            <img src="assets/images/IconeRezume.png" alt="Photo de profil" class="img-top">
        </div>

        <mat-card-content>

          <mat-card-title class="text-center mt-3 card-name">
            Nicolas Brazzolotto
          </mat-card-title>

          <p class="cv-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat, culpa facere quas ab voluptas quis odit explicabo animi autem porro ipsa, dolorum perferendis sint nulla non eaque cupiditate delectus sunt.
          </p>

          <div class="cv-experiences">
            <p>Experiences professonelles</p>
          </div>
        </mat-card-content>
      </mat-card>

  </div>
</div>
